.section {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #08ccad44;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e5e8e0;
  color: white;
  border-radius: 20px;
}
